[Unit]
Description=Web App Service

[Service]
WorkingDirectory=/home/pete/livesectional
ExecStart=/usr/bin/uwsgi -i /home/pete/livesectional/uwsgi.ini
SyslogIdentifier=SRV_APPS

[Install]
WantedBy=multi-user.target