[Unit]
Description=Web App Service

[Service]
WorkingDirectory=/home/pi/livesectional/livesectional
ExecStart=/usr/bin/uwsgi -i /home/pi/livesectional/livesectional/uwsgi.ini
SyslogIdentifier=SRV_APPS
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target