[Unit]
Description=METAR-V4 Service

[Service]
WorkingDirectory=/home/pete/livesectional
ExecStart=python /home/pete/metar-v4.py
SyslogIdentifier=SRV_METAR_V4

[Install]
WantedBy=multi-user.target